  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bem vindo ao <span class='color-default'>Profscore!</span></h1>
      <h2>Saiba o que os alunos pensam dos professores do curso</h2>
      <% if user_signed_in? %>
        <%= link_to new_evaluation_path, class: "btn-get-started scrollto" do %>
          Avaliar
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "btn-get-started scrollto" do %>
          Login
        <% end %>
      <% end %>
    </div>
  </section><!-- End Hero -->