    <!-- ======= Departments Section ======= -->
    <section id="departamentos" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Divisão Disciplinar</h2>
          <p>É a segmentação ou organização de um campo de estudo ou atividade em disciplinas distintas, cada uma abordando aspectos específicos para a compreensão mais aprofundada do tema em questão. Essa abordagem facilita a especialização e a gestão eficiente do conhecimento em áreas específicas.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-5">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Visão Sistêmica (Sistemas de Informação)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Gestão de SI e TI, Empreendedorismo e Inovação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Desenvolvimento de Software para SI (Programação e Algoritmos)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Desenvolvimento de Software para SI (Engenharia de Software)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Engenharia de Dados e Informação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Infraestrutura em SI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Desenvolvimento Pessoal e Profissional</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Visão Sistêmica (Sistemas de Informação)</h3>
                    <p class="fst-italic">A Visão Sistêmica em Sistemas de Informação refere-se à compreensão abrangente e interconectada dos elementos que compõem um sistema, buscando entender suas relações e impactos no contexto mais amplo.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Gestão de SI e TI, Empreendedorismo e Inovação</h3>
                    <p class="fst-italic">Este tópico aborda a administração eficaz de Sistemas de Informação (SI) e Tecnologia da Informação (TI), incorporando estratégias de empreendedorismo e inovação para impulsionar o desenvolvimento e a competitividade organizacional.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Desenvolvimento de Software para SI (Programação e Algoritmos)</h3>
                    <p class="fst-italic">Envolve a criação de software para Sistemas de Informação, com foco em programação e algoritmos. Compreende a codificação de soluções eficientes e a implementação de algoritmos para otimizar o funcionamento dos sistemas.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Desenvolvimento de Software para SI (Engenharia de Software)</h3>
                    <p class="fst-italic">Neste contexto, a ênfase recai sobre a aplicação de princípios da Engenharia de Software no ciclo de vida do desenvolvimento de software, garantindo qualidade, eficiência e manutenibilidade dos sistemas.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Engenharia de Dados e Informação</h3>
                    <p class="fst-italic">Aborda a gestão, análise e modelagem de dados para extrair informações significativas. A Engenharia de Dados visa criar estruturas robustas para a coleta, processamento e interpretação de dados relevantes.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-6">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Infraestrutura em SI</h3>
                    <p class="fst-italic">Referente à base tecnológica necessária para suportar os Sistemas de Informação, este tópico inclui hardware, redes, servidores e demais recursos essenciais à infraestrutura de TI de uma organização.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-7">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Desenvolvimento Pessoal e Profissional</h3>
                    <p class="fst-italic">Foca no crescimento individual e profissional dos envolvidos em Sistemas de Informação, abordando habilidades sociais, liderança, comunicação eficaz e a busca contínua por atualização e aprimoramento no ambiente profissional.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->