    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Perguntas Frequentes</h2>
          <p>A seção fornece respostas concisas e prontas para as perguntas mais comuns dos usuários. Essa ferramenta eficiente não apenas agiliza o suporte ao cliente, mas também orienta os usuários de forma rápida, promovendo uma experiência mais intuitiva e satisfatória.</p>
        </div>

        <div class="faq-list">
          <ul>
          
            <li data-aos="fade-up">
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Posso realmente manter minha avaliação de forma anônima?</a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Sim, absolutamente! Respeitamos sua privacidade. Todas as avaliações de professores são processadas de forma anônima, garantindo que sua identidade permaneça confidencial. Valorizamos a honestidade e a transparência em nosso sistema de avaliação.
                </p>
              </div>
            </li>
          
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-2">Como as avaliações contribuem para a melhoria do ensino?</a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  As avaliações são uma ferramenta valiosa para aprimorar o ensino. Ao fornecer feedback construtivo, os alunos ajudam os professores a entender melhor suas necessidades e adaptar seus métodos de ensino. Isso resulta em uma experiência de aprendizado mais eficaz para todos.
                </p>
              </div>
            </li>
          
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-3">Existe algum critério específico para avaliar os professores?</a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Existem alguns critérios específicos, mas encorajamos os alunos a avaliar os professores com base em sua experiência pessoal. Os alunos podem avaliar os professores com base em sua capacidade de ensino, conhecimento do assunto, disponibilidade, atitude, etc. 
                </p>
              </div>
            </li>
          
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-4">Os professores têm acesso às avaliações?</a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Assim como os alunos, os professores têm acesso às notas finais, contudo, os alnos que avaliaram vao se manter em anonimato. Esse processo ajuda a manter um ambiente de avaliação justo e imparcial. 
                </p>
              </div>
            </li>
          
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-5">Como funciona a avaliação?</a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Como aluno, você acessa a seção de avaliações, seleciona o professor e a disciplina lecionada, e cria uma avaliação para ser publicada ao público. 
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->