<!-- Toast Modal -->
<div class="toast toast-copied bg-success" id="copiedToast">
  <div class="toast-header">
      <strong class="mr-auto">Sucesso!</strong>
  </div>
  <div class="toast-body text-white">
      O email foi copiado para sua área de transferência.
  </div>
</div>